.field{
    position: relative;
  }
  
  label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 2px;
    transition: 0.2s ease all;
    font-size: 15px;
  }
  input:focus ~ label{
    top:-10px;
    font-size:12px;
  }